<header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark ml-auto">

        <div class="container-fluid">
            <img class="ap-logo" src="./assets/arg-programa-logo-white.png" alt="Logo Argentina Programa">
            <a class="navbar-brand">#YoProgramo</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end " id="navbarToggler">

                <ul class="navbar-nav list-unstyled flex-row justify-content-evenly m-2">
                    <li><a href="https://www.linkedin.com/in/damian-zappitelli" class="nav-link" target="_blank">
                            <fa-icon [icon]="faLinkedin"></fa-icon>
                        </a>
                    </li>
                    <li><a href="https://github.com/damitelli" class="nav-link" target="_blank">
                            <fa-icon [icon]="faGithub"></fa-icon>
                        </a>
                    </li>
                    <li><button class="btn btn-outline-success" id="btnLogout" type="button" (click)="onLogout()">Cerrar
                            sesión</button>
                    </li>
                </ul>

            </div>
        </div>

    </nav>
</header>