<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Editar experiencia</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="editExpForm" (ngSubmit)="updateExpData(editExpForm.value); activeModal.close()">

            <div class="mb-3">
                <label for="editExperiencePuesto" class="form-label">Puesto</label>
                <input type="text" class="form-control form-control-sm" id="editExperiencePuesto"
                    placeholder="Ingrese el puesto." formControlName="puesto" required minlength="2" maxlength="50"
                    [ngClass]="{'is-invalid':puesto?.errors && puesto?.touched, 'is-valid':!puesto?.errors && puesto?.touched}">
                <div *ngIf="puesto?.errors && puesto?.touched">
                    <p *ngIf="puesto?.hasError('required')" class="text-danger">
                        El puesto es requerido (mínimo 2 caracteres y máximo 50 caracteres).
                    </p>
                    <p *ngIf="puesto?.errors?.['minlength']" class="text-danger">
                        El puesto debe ser de 2 o más caracteres.
                    </p>
                    <p *ngIf="puesto?.errors?.['maxlength']" class="text-danger">
                        El puesto debe tener como máximo 50 caracteres.
                    </p>
                </div>
            </div>

            <div class="mb-3">
                <label for="editExperienceDescripcion" class="form-label">Descripción</label>
                <textarea class="form-control form-control-sm" id="editExperienceDescripcion"
                    placeholder="Ingrese la descripción." formControlName="descripcion" required minlength="3"
                    maxlength="1000"
                    [ngClass]="{'is-invalid':descripcion?.errors && descripcion?.touched, 'is-valid':!descripcion?.errors && descripcion?.touched}"></textarea>
                <div *ngIf="descripcion?.errors && descripcion?.touched">
                    <p *ngIf="descripcion?.hasError('required')" class="text-danger">
                        La descripción es requerida (mínimo 3 caracteres y máximo 1000 caracteres).
                    </p>
                    <p *ngIf="descripcion?.errors?.['minlength']" class="text-danger">
                        La descripción debe ser de 3 o más caracteres.
                    </p>
                    <p *ngIf="descripcion?.errors?.['maxlength']" class="text-danger">
                        La descripción debe tener como máximo 1000 caracteres.
                    </p>
                </div>
            </div>

            <div class="mb-3">
                <label for="editExperienceFechaInicio" class="form-label">Fecha de inicio</label>
                <input type="text" class="form-control form-control-sm" id="editExperienceFechaInicio"
                    placeholder="Ingrese la fecha de inicio." formControlName="fecha_inicio" required minlength="2"
                    maxlength="20"
                    [ngClass]="{'is-invalid':fecha_inicio?.errors && fecha_inicio?.touched, 'is-valid':!fecha_inicio?.errors && fecha_inicio?.touched}">
                <div *ngIf="fecha_inicio?.errors && fecha_inicio?.touched">
                    <p *ngIf="fecha_inicio?.hasError('required')" class="text-danger">
                        La fecha de inicio es requerida (mínimo 2 caracteres y máximo 20 caracteres).
                    </p>
                    <p *ngIf="fecha_inicio?.errors?.['minlength']" class="text-danger">
                        La fecha de inicio debe ser de 2 o más caracteres.
                    </p>
                    <p *ngIf="fecha_inicio?.errors?.['maxlength']" class="text-danger">
                        La fecha de inicio debe tener como máximo 20 caracteres.
                    </p>
                </div>
            </div>

            <div class="mb-3">
                <label for="editExperienceFechaFin" class="form-label">Fecha de finalización</label>
                <input type="text" class="form-control form-control-sm" id="editExperienceFechaFin"
                    placeholder="Ingrese la fecha de finalización." formControlName="fecha_fin" required minlength="2"
                    maxlength="20"
                    [ngClass]="{'is-invalid':fecha_fin?.errors && fecha_fin?.touched, 'is-valid':!fecha_fin?.errors && fecha_fin?.touched}">
                <div *ngIf="fecha_fin?.errors && fecha_fin?.touched">
                    <p *ngIf="fecha_fin?.hasError('required')" class="text-danger">
                        La fecha de finalización es requerida (mínimo 2 caracteres y máximo 20 caracteres).
                    </p>
                    <p *ngIf="fecha_fin?.errors?.['minlength']" class="text-danger">
                        La fecha de finalización debe ser de 2 o más caracteres.
                    </p>
                    <p *ngIf="fecha_fin?.errors?.['maxlength']" class="text-danger">
                        La fecha de finalización debe tener como máximo 20 caracteres.
                    </p>
                </div>
            </div>

            <div class="mb-3">
                <label for="editExperienceUrlLogoEmpresa" class="form-label">Enlace a la imagen</label>
                <input type="text" class="form-control form-control-sm" id="editExperienceUrlLogoEmpresa"
                    placeholder="Ingrese el enlace a la imagen." formControlName="url_logo_empresa" required
                    minlength="3" maxlength="1000"
                    [ngClass]="{'is-invalid':url_logo_empresa?.errors && url_logo_empresa?.touched, 'is-valid':!url_logo_empresa?.errors && url_logo_empresa?.touched}">
                <div *ngIf="url_logo_empresa?.errors && url_logo_empresa?.touched">
                    <p *ngIf="url_logo_empresa?.hasError('required')" class="text-danger">
                        El enlace a la imagen es requerido (mínimo 3 caracteres y máximo 1000 caracteres).
                    </p>
                    <p *ngIf="url_logo_empresa?.errors?.['minlength']" class="text-danger">
                        El enlace a la imagen debe ser de 3 o más caracteres.
                    </p>
                    <p *ngIf="url_logo_empresa?.errors?.['maxlength']" class="text-danger">
                        El enlace a la imagen debe tener como máximo 1000 caracteres.
                    </p>
                </div>
            </div>

            <div class="mb-3">
                <label for="editExperienceTipoDeEmpleoId" class="form-label">Tipo de empleo</label>
                <div class="d-grid">
                    <select class="form-select form-select-sm" id="editExperienceTipoDeEmpleoId"
                        formControlName="tipo_de_empleo_id" required (onChange)="($event)"
                        [ngClass]="{'is-invalid':tipo_de_empleo_id?.errors && tipo_de_empleo_id?.touched, 'is-valid':!tipo_de_empleo_id?.errors && tipo_de_empleo_id?.touched}">
                        <option value="">Seleccione el tipo de empleo</option>
                        <option *ngFor="let elemento of tipoDeEmpleo" [ngValue]="elemento.id">
                            {{elemento.tipo}}
                        </option>
                    </select>
                    <div *ngIf="tipo_de_empleo_id?.errors && tipo_de_empleo_id?.touched">
                        <p *ngIf="tipo_de_empleo_id?.hasError('required')" class="text-danger">
                            El tipo de empleo es requerido.
                        </p>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Cerrar</button>
                <button type="submit" class="btn btn-primary" [disabled]="!editExpForm.valid">Aplicar
                    cambios</button>
            </div>

        </form>
    </div>
</div>